.slide {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: center;
    height: 200px;
    width: 80%;
    border: 1px black solid;
    padding: 10px;
  }
  .img{
    
    width: 300px;
  }
  .cat{
    border: 1px black solid;
    margin-left: 50px;
  }